@page
@using ToDoWebApplication.Models
@model ToDoWebApplication.Pages.Tasks.IndexModel

<a class="btn btn-primary" asp-area="" asp-page="/Tasks/New">
	<i class="bi bi-plus-circle"></i>
	Добавить
</a>
<hr />

@foreach (UserTask task in Model.TaskService.GetTasks())
{
	<div class="card mb-3">
		<div class="card-body">
			<h5 class="card-title">@task.Title</h5>
			<p class="card-text">@task.Description</p>
		</div>
		<div class="card-footer">
			<div class="d-flex">
				<form method="get" asp-page="/Tasks/Edit">
					<input type="hidden" name="taskId" value="@task.Id" />
					<button type="submit" class="btn btn-success me-3">
						<i class="bi bi-pencil"></i>
						Редактировать
					</button>
				</form>
				<form method="post" asp-page-handler="DeleteTask">
					<input type="hidden" name="taskId" value="@task.Id" />
					<button type="submit" class="btn btn-danger">
						<i class="bi bi-trash"></i>
						Удалить
					</button>
				</form>
			</div>
		</div>
	</div>
}