@page
@using ToDoWebApplication.Models
@model ToDoWebApplication.Pages.Tasks.IndexModel

<a class="btn btn-primary" asp-area="" asp-page="/Tasks/New">
	<i class="bi bi-plus-circle"></i>
	Добавить
</a>
<hr />

@foreach (UserTask task in Model.TaskService.GetTasks())
{
	<div class="card mb-3">
		<div class="card-body">
			<h5 class="card-title">@task.Title</h5>
			<p class="card-text">@task.Description</p>
		</div>
		<div class="card-footer">
			<form>
				<button type="submit">Удалить</button>
			</form>
		</div>
	</div>
}